<%= link_to "New List", new_list_path, class: "btn btn-defaul btn-lg", id: "new-list-btn" %>

<% if @lists.empty? %>
	<h1 id="no-lists"> No Lists Created</h1>
<% else %>
	<% @lists.each do |list| %> 
		<div class="well well-lg">
			<div class="list-title"> 
				<%= link_to list.name, list_path(list) %>
			</div>
		</div> 
	<% end %>
<% end %>



